@font-face {
    font-family: 'Chakra';
    src: url(Chakra_Petch/ChakraPetch-Medium.ttf) format('truetype');
}
@font-face{
    font-family: 'nunito';
    src: url(Nunito-SemiBold.ttf) format('truetype');
}
body{
    background-color: orange;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    transition: 0.5s;
}
body.dark{
    background-color: rgb(22, 22, 22);
    
    
}

.checkbox{
    opacity: .1;
    position: relative;
    top: 30px;
    

}



.jamcheck{
    color: orange;
}

.checkbox:checked + .label #btn {
    transform: translate(48px);
    

}

.tombol{
    position: absolute;
    top: 0;
    left: 50px;
}

.label{
    padding: 2px;
   background-color: orange;
   display: flex;
   height: 30px;
   width: 80px;
   border-radius: 40px;
   justify-content: space-between;
   align-items: center;
   position: relative;
   box-shadow: 0px -3px 4px white,
               inset 0px 3px 4px black,
               inset 0px -3px 4px white,
               0px 3px 4px black

    

 
   

}

.label.boxShadow{
    background-color: rgb(255, 255, 255);
    box-shadow: 0px -3px 4px white,
    inset 0px 3px 4px black,
    inset 
    0px 3px 4px 2px white,
    0px 3px 4px 4px black
    

}

#btn{
    background-color: rgb(29, 29, 29);
    padding: 13px;
    border-radius: 50%;
    left: 5px;
    transition: 0.3s;
    transform: rotate(90deg);
    position: absolute;
   
    
}

.g1, .g2{
    padding: 8px;
    height: 20px;
    width: 20px;
  
    
   
}

                /* jam */

.container {
   
    padding: 10px 0;
    position: absolute;
    display: flex;
    width: 120px;
    position: absolute;
    justify-content: center;
    font-family: 'nunito';
    font-size: 100px;
    
    
}
#jam{
    font-size: 200px;
    font-family: 'Chakra' ;
}

.text{
    
    position: absolute;
    top: 120px;
    transition: 0.5s;
    
}
h1{
    font-size: 40px;
    font-family: 'nunito';
    letter-spacing: 4px;
    
    
}
.checkboxh1{
    color: orange;
}

@media (max-width: 600px){
    .text{
        top: 150px;
    }
    
    h1{
        font-size: 25px;
        
    }
    #jam{
        font-size: 100px;
    }
}
